@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #2a4d8f; /* твой брендовый цвет */
  font-weight: 600;
}
